@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap');

body {
	color: #333333; 
	font-family: sans-serif;
	background: 
		url("../images/bg2.png") top repeat-x, 
		url("../images/bg2.png") bottom repeat-x,
		url("../images/bg1.png") repeat;
}

a:link {color: #999966;}
a:hover {color: #996600;}
a:focus {color: #996600;}
a:active {color: #339999;}
a:visited {color: #666666;}

#page {
	width: 980px;
	margin: 0 auto;
}

.pagetop {
	margin-top: 30px;
	text-align: right;
	font-size: 12px;
}

.pagetop a {
	padding-left: 10px;
	background: url("../images/ico_pagetop.png") 0 50% no-repeat;
}

/* page header */
#pageHead #siteTitle {
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
}

#pageHead #catchcopy {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
}

#pageHead .globalNavi {
	padding: 10px 0;
	border: solid #CCCCCC;
	border-width: 1px 0;
}

#pageHead .globalNavi ul {
	margin: 0;
	padding: 0;
}

#pageHead .globalNavi ul:after{
	content: "";
	clear: both;
	display: block;
}

#pageHead .globalNavi ul li {
	box-sizing: border-box;
	float: left;
	width: 245px;
	padding: 0 10px;
	border-left: solid 1px #CCCCCC;
	list-style: none;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child {
	border-left: none;
}

#pageHead .globalNavi ul li a {
	display: block;
	padding: 5px 0;
	color: inherit;
	text-decoration: none;
}

#pageHead .globalNavi ul li a:hover, 
#pageHead .globalNavi ul li.current a {
	color: white;
	background-color: olive;
}

.topicPath {font-size: 12px;}

/* page footer */
#pageFoot {
	border-top: solid 1px #CCCCCC;
	margin-top: 15px;
}

#pageFoot #copyright small {
	font-size 12px;
	line-height: 1.5;
}

/* page body */
#pageBody {
	margin-top: 30px;
}

#pageBody .mainVisual {
	position: relative;
}

#pageBody .mainVisual img {
	vertical-align: bottom;
}

#pageBody .mainVisual .mainVisualText {
	position: absolute;
	left: 50px;
	bottom: 50px;
	box-sizing: border-box;
	width: 400px;
	padding: 15px 25px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
}

#pageBody .mainVisual .mainVisualText h1 {
	margin: 0;
	line-height: 1.231;
	font-size: 26px;
}

#pageBody .mainVisual .mainVisualText p {
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 12px;
}

#pageBody .mainVisual ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#pageBody .mainVisual ul li {
	position: relative;
}

#pageBody .portfolioIndex {
	margin-top: 40px;
}

#pageBody .portfolioIndex:after {
	display: block;
	clear: both;
	content: "";
}

#pageBody .portfolioIndex article {
	float: left;
	width: 300px;
	margin-left: 40px;
}

#pageBody .portfolioIndex article:first-child {
	margin-left: 0;
}

#pageBody .portfolioIndex article h2 {
	margin: 5px 0;
	font-size: 18px;
}

#pageBody .portfolioIndex article p {
	margin-top: 0;
	line-height: 1.5;
	font-size: 12px;
}

#pageBody .news {
	margin-top: 40px;
}

#pageBody .news h1 {
	padding: 5px 0;
	border-bottom: 1px solid #CCCCCC;
	font-size: 20px;
}

#pageBody .news table {
	width: 100%;
}

#pageBody .news table tr th,
#pageBody .news table tr td {
	padding: 10px 0;
	vertical-align: top;
	border-bottom: 1px dotted #CCCCCC;
	line-height: 1.429;
	font-size: 14px;
}

#pageBody .news table tr th {
	padding-right: 30px;
	white-space: nowrap;
}

#pageBody .news table tr td {
	width: 100%;
}

#pageBody:after {
	content: "";
	clear: both;
	display: block;
}

#pageBodyMain {
	width: 720px;
	float: left;
}

#pageBodySub {
	width: 220px;
	float: right;
}

/* main column */
#pageBodyMain p {
	font-size: 14px; 
	line-height: 1.429;
}

#pageBodyMain ul li {
	font-size:14px;
	list-style-type: square;
	line-height: 1.429;
}

/* table */
#pageBodyMain table {
	font-size: 14px;
	line-height: 1.429;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	width: 100%;
}

#pageBodyMain table th {
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
	background-color: #EEEEEE;
	text-align: left;
}

#pageBodyMain table td {
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
}

#pageBodyMain table caption {
	text-align: left;
	font-weight: bold;
}

/* figure */
#pageBodyMain figure {
	margin: 0;
}

#pageBodyMain figcaption {
	font-size: 12px;
}

/* heading */
#pageBodyMain .pageTitle {
	font-size: 26px; 
	background-color: #F2F2E5;
	padding: 5px 15px;
	line-height: 1.231;
	margin-top: 0;
}

#pageBodyMain .heading-typeA {
	font-size: 18px; 
	color: #349FA6;
	border-bottom: solid 1px #349FA6;
	padding: 5px;
	line-height: 1.333;
}

#pageBodyMain .heading-typeB {
	font-size: 16px; 
	border-left: solid 5px #E3E4D9;
	padding-left: 10px;
	line-height: 1.375;
}

#pageBodyMain .heading-typeC { 
	font-size: 14px; 
	line-height: 1.429;
}

/* detail */
#pageBodyMain .articleDetailHead{
	border-bottom: solid 1px #CCCCCC;
	margin-bottom: 30px;
	padding-bottom: 15px;
}

#pageBodyMain .articleDetailBody section {
	margin: 30px 0px;
}

#pageBodyMain .articleDetailFoot {
	border-top: solid 1px #CCCCCC;
	margin-top: 30px;
	padding-top: 15px;
}

/* credit */
#pageBodyMain .creditUnit {
	padding: 10px;
	border: solid 1px #CCCCCC;
}

#pageBodyMain .creditUnit:after {
	display: block;
	clear: both;
	content: "";
}

#pageBodyMain .creditUnit .creditUnitText {
	float: right;
	width: 378px;
}

#pageBodyMain .creditUnit .creditUnitMap {
	float: left;
	width: 200px;
}

#pageBodyMain .creditUnit p {
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
}

#pageBodyMain .articleList {
	border: solid 1px #CCCCCC;
	margin-bottom: 30px;
}

#pageBodyMain .articleList a {
	display: block;
	padding: 10px;
	color: inherit;
	text-decoration: none;
}

#pageBodyMain .articleList a .articleListText {
	width: 370px;
	float: right;
}

#pageBodyMain .articleList a .articleListText h1 {
	font-size: 26px;
	line-height: 1.308;
}

#pageBodyMain .articleList a .articleListText {
	font-size: 14px;
	line-height: 1.429;
}

#pageBodyMain .articleList a .articleListImage {
	width: 300px;
	float: left;
}

#pageBodyMain .articleList a .articleListImage img {
	vertical-align: bottom;
}

#pageBodyMain .articleList a:after {
	display: block;
	clear: both;
	content: "";
}

#pageBodyMain .articleList a:hover {
	opacity: 0.7;
}

#pageBodyMain .imageCenter {
	padding-bottom: 30px;
	margin: 30px 0;
	border-bottom: 1px dotted #CCCCCC;
	text-align: center;
}

#pageBodyMain .btn {
	padding-bottom: 20px;
	margin: 20px 0;
	border-bottom: 1px dotted #CCCCCC;
	text-align: center;
}

#pageBodyMain .btn a {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #058BA9;
	border-radius: 5px;
	background-color: #058BA9;
	background-image: linear-gradient(#92CDDB, #058BA9);
	box-shadow: 1px 1px 0 #9DDDED inset;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0 #333333;
	text-decoration: none;
}

#pageBodyMain .btn a:hover {
	opacity: 0.7;
}

/* sub column */
#pageBodySub h2 {
	font-size: 16px;
	line-height: 1.375;
	padding: 5px;
	margin-top: 0;
	border-bottom: 1px solid #CCCCCC;
}

#pageBodySub .newList ul {
	list-style: none;
	padding: 0;
}

#pageBodySub .newList ul li {
	font-size: 12px;
	line-height: 1.5;
	margin: 10px 5px;
}

#pageBodySub .newList ul li time {
	font-weight: bold;
	display: block;

}

#pageBodySub .localNavi ul {
	margin: 0 0 30px;
	padding-left: 0;
}

#pageBodySub .localNavi ul li {
	font-size: 14px;
	line-height; 1.429;
	padding-left: 10px;
	margin-bottom: 12px;
	list-style-type: none;
	background: url("../images/ico_arrow.png") 0 8px no-repeat;
}
